<nav class="navbar nav-grey navbar-fixed-top">
  <div class = "container-fluid row">
    <a routerLink="../"
       class="navbar-text black-text pull-left icon-padding">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a routerLink="./"
       class="navbar-text grey-text pull-left">
      Edit Page
    </a>
    <a (click)="updatePage()"
       class="black-text navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>

<div class="container container-padding">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <label for="Edit-Page-Name">Name</label>
  <input id="Edit-Page-Name"
         type="text"
         class="form-control"
         placeholder="Blog Post"
         [(ngModel)]="page.name"/>
  <label for="Edit-Page-Title">Title</label>
  <input id="Edit-Page-Title"
         type="text"
         class="form-control"
         placeholder="Page Title"
         [(ngModel)]="page.title"/>
  <a class="btn btn-success btn-block" (click)="updatePage()">
    Update
  </a>
  <a class="btn btn-danger btn-block" (click)="deletePage()">
    Delete
  </a>
</div>

<nav class="navbar navbar-fixed-bottom nav-grey">
  <div class="container-fluid">
    <a routerLink="/login"
       class="navbar-text pull-left icon-padding">
      <span class="glyphicon glyphicon-home"></span>
    </a>
    <a routerLink="/profile"
       class="navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
