<nav class="navbar nav-grey navbar-fixed-top">
  <div class = "container-fluid row">
    <a routerLink="../"
       class="navbar-text black-text pull-left icon-padding">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a routerLink="./"
       class="navbar-text grey-text pull-left">
      Widget Edit
    </a>
    <a (click)="updateWidget()"
       class="black-text navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </div>
</nav>

<div class="container container-padding">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <label for="WidgetHeaderName">Widget Name</label>
  <input id="WidgetHeaderName"
         type="text"
         class="form-control"
         placeholder="name"
         [(ngModel)]="widget.name"/>
  <label for="WidgetHeaderText">Text</label>
  <input id="WidgetHeaderText"
         type="text"
         class="form-control"
         placeholder="Text"
         [(ngModel)]="widget.text"/>
  <label for="WidgetHeaderSize">Size</label>
  <input id="WidgetHeaderSize"
         type="text"
         class="form-control"
         placeholder="3"
         [(ngModel)]="widget.size"/>

  <a class="btn btn-success btn-block"
     (click)="updateWidget()">
    Update
  </a>
  <a class="btn btn-danger btn-block"
     (click)="deleteWidget()">
    Delete
  </a>
</div>

<nav class="navbar navbar-fixed-bottom nav-grey">
  <div class="container-fluid">
    <a routerLink="/login"
       class="navbar-text pull-left icon-padding">
      <span class="glyphicon glyphicon-home"></span>
    </a>
    <a routerLink="/profile"
       class="navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>


