<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-fixed-top nav-blue">
  <div class = "container-fluid row">
    <a href="profile.html" class="navbar-text white-text pull-left">Profile</a>
    <a href="profile.html" class="navbar-text white-text pull-right icon-padding">
      <span class="glyphicon glyphicon-ok"></span></a>
  </div>
</nav>

<div class="container container-padding">
  <form>
    <label for="Username">Username</label>
    <input id="Username"
           type="text"
           class="form-control"
           placeholder="username"/>
    <label for="Email">Email</label>
    <input id="Email"
           type="email"
           class="form-control"
           placeholder="email"/>
    <label for="FirstName">First Name</label>
    <input id="FirstName"
           type="text"
           class="form-control"
           placeholder="first name"/>
    <label for="LastName">Last Name</label>
    <input id="LastName"
           type="text"
           class="form-control"
           placeholder="last name"/>
  </form>
  <a class="btn btn-primary btn-block" href="../website/website-ulst.html">Websites</a>
  <a class="btn btn-success btn-block" href="login.html">Logout</a>
</div>

<nav class="navbar navbar-fixed-bottom nav-blue">
  <div class="container-fluid">
    <a href="../../index.html" class="navbar-text white-text pull-left nav-icon-padding">
      <span class="glyphicon glyphicon-home"></span></a>
  </div>
</nav>
</body>
</html>
