<nav class="navbar nav-grey navbar-fixed-top">
  <div class = "container-fluid row">
    <a routerLink="../"
       class="navbar-text black-text pull-left icon-padding">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a routerLink="./"
       class="navbar-text grey-text pull-left">
      Choose Widget
    </a>
  </div>
</nav>

<div class="container-fluid container-padding">
  <ul class="ul-no-style">
    <li class="li-margin">
      <a (click)="createWidget('HEADING')">
        Header
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('IMAGE')">
        Image
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('YOUTUBE')">
        YouTube
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('HTML')">
        HTML
      </a>
    </li>
    <li class="li-margin">
      <a (click)="createWidget('TEXT')">
        TEXT
      </a>
    </li>
  </ul>
</div>

<nav class="navbar navbar-fixed-bottom nav-grey">
  <div class="container-fluid">
    <a routerLink="/login"
       class="navbar-text pull-left icon-padding">
      <span class="glyphicon glyphicon-home"></span>
    </a>
    <a routerLink="/profile"
       class="navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
