<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page-edit</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href="../css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar nav-grey navbar-fixed-top">
  <div class = "container-fluid row">
    <a href="page-ulst.html" class="navbar-text black-text pull-left icon-padding">
      <span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="page-edit.html" class="navbar-text grey-text pull-left">Edit Page</a>
    <a href="page-ulst.html" class="black-text navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-ok"></span></a>
  </div>
</nav>

<div class="container container-padding">
  <form>
    <label for="Edit-Page-Name">Name</label>
    <input id="Edit-Page-Name" type="text" class="form-control" placeholder="Blog Post"/>
    <label for="Edit-Page-Title">Title</label>
    <input id="Edit-Page-Title" type="text" class="form-control" placeholder="Page Title"/>
  </form>
  <a class="btn btn-danger btn-block" href="page-ulst.html">Delete</a>
</div>

<nav class="navbar navbar-fixed-bottom nav-grey">
  <div class="container-fluid">
    <a href="../../index.html" class="navbar-text pull-left icon-padding">
      <span class="glyphicon glyphicon-home"></span></a>
    <a href="../user/profile.html" class="navbar-text pull-right icon-padding">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </div>
</nav>
</body>
</html>
